@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Avenir";
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

button {
  font-family: inherit;
  font-size: 1em;
}

ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.header {
  background-color: #323232;
}
.header-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .header-nav {
    flex-direction: row;
  }
}
@media screen and (min-width: 80rem) {
  .header-nav {
    flex-direction: row;
    margin: auto;
    width: 66.25rem;
  }
}
.header-nav__home {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  color: #ffffff;
  display: flex;
}
.header-nav__home-item {
  padding-top: 1rem;
  margin-bottom: 1rem;
  max-width: 7.5rem;
  max-height: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .header-nav__home-item {
    align-self: center;
    padding: 2.25rem 0;
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .header-nav__home-item {
    margin-left: 0;
  }
}
.header-nav__list {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 48rem) {
  .header-nav__list {
    width: auto;
  }
}
.header-nav__list-container {
  width: 50%;
}
.header-nav__link {
  text-decoration: none;
  color: #e1e1e1;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
.header-nav__item, .header-nav__item--active {
  text-align: center;
  padding-bottom: 0.75rem;
  border-bottom: 0.25rem solid transparent;
}
@media screen and (min-width: 48rem) {
  .header-nav__item, .header-nav__item--active {
    align-self: center;
    padding: 2.25rem 0 2rem 0;
    margin: 0 2.25rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (min-width: 80rem) {
  .header-nav__item, .header-nav__item--active {
    min-width: 4.25rem;
  }
}
.header-nav__item--active {
  border-bottom: 0.25rem;
  border-bottom-color: #ffffff;
  border-bottom-style: solid;
  color: #ffffff;
  font-weight: 600;
}
.header-nav__item:hover, .header-nav__item--active:hover {
  border-bottom: 0.25rem;
  border-bottom-color: #ffffff;
  border-bottom-style: solid;
  padding-bottom: 0.75rem;
  color: #ffffff;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .header-nav__item:hover, .header-nav__item--active:hover {
    padding-bottom: 2rem;
  }
}

.test1 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  width: 50%;
  justify-content: center;
}

.test2 {
  text-decoration: none;
  color: #e1e1e1;
  font-size: 0.875rem;
  line-height: 1.375rem;
  text-align: center;
  padding-bottom: 0.75rem;
  border-bottom: 0.25rem solid transparent;
}

.footer {
  background-color: #323232;
}
.footer__container {
  padding: 0 1rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  background-color: #323232;
}
@media screen and (min-width: 48rem) {
  .footer__container {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__container {
    padding: 0;
    width: 63.75rem;
    margin: auto;
  }
}
.footer__header {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .footer__header {
    flex-direction: row;
    align-items: flex-end;
    gap: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__header {
    flex-direction: row;
    align-items: flex-end;
  }
}
.footer__header-text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #323232;
  color: #ffffff;
  margin: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 48rem) {
  .footer__header-text {
    margin: 3rem 0 0 0;
    flex-grow: 1;
    flex-basis: 0;
    font-weight: 600;
  }
}
@media screen and (min-width: 80rem) {
  .footer__header-text {
    margin: 3rem 0 0 0;
  }
}
@media screen and (min-width: 48rem) {
  .footer__header-text {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
.footer__icon {
  display: flex;
}
@media screen and (min-width: 48rem) {
  .footer__icon {
    flex-grow: 1;
    flex-basis: 0;
  }
}
.footer__link {
  margin: 0 1rem 1rem 0;
  margin-bottom: 0rem;
}
@media screen and (min-width: 48rem) {
  .footer__link {
    margin-right: 2.25rem;
    line-height: 2rem;
  }
}
.footer__card {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .footer__card {
    flex-direction: row;
    gap: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__card {
    flex-direction: row;
  }
}
@media screen and (min-width: 48rem) {
  .footer__card-container {
    flex-grow: 1;
    flex-basis: 0;
  }
}
@media screen and (min-width: 80rem) {
  .footer__card-container {
    min-width: 14.8125rem;
    margin-right: 2.25rem;
  }
}
.footer__card-header {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #ffffff;
  font-weight: 600;
  margin: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 48rem) {
  .footer__card-header {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 48rem) {
  .footer__card-header {
    margin: 3rem 0 2.25rem 0;
    font-weight: 600;
  }
}
.footer__card-body {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer__card-body {
    margin-bottom: 2.25rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer__card-body {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.footer__logo {
  display: none;
}
@media screen and (min-width: 48rem) {
  .footer__logo {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 0;
    line-height: 2rem;
    margin-bottom: 0.75rem;
  }
}
.footer__logo-mobile {
  margin: 1.5rem 0 1rem 0;
  max-width: 7.5rem;
  max-height: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .footer__logo-mobile {
    display: none;
  }
}
.footer__copyright {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #ffffff;
  font-size: 0.6875rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer__copyright {
    margin: 0.75rem 0 2.25rem 0;
  }
}
@media screen and (min-width: 48rem) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

.hero {
  position: relative;
  height: 20%;
}
.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.hero__image {
  max-height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 80rem) {
  .hero__image {
    height: 80vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.hero__image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 0.5;
}
.hero__bios-text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #323232;
  padding: 0 1rem;
  margin: 0;
  color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
@media screen and (min-width: 48rem) {
  .hero__bios-text {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .hero__bios-text {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero__bios-text {
    padding: 0;
    width: 63.75rem;
    margin: auto;
  }
}
@media screen and (min-width: 80rem) {
  .hero__bios-text {
    width: 33.125rem;
    left: 50%;
    transform: translate(-100%, -50%);
  }
}
.hero__shows-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 80rem) {
  .hero__shows-container {
    padding: 0 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
@media screen and (min-width: 80rem) and (min-width: 48rem) {
  .hero__shows-container {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 80rem) and (min-width: 80rem) {
  .hero__shows-container {
    padding: 0;
    width: 63.75rem;
    margin: auto;
  }
}
.hero__shows-subcontainer {
  display: flex;
  flex-direction: column;
}
.hero__shows-text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #323232;
  padding: 0 1rem;
  color: #ffffff;
  max-width: 15rem;
  margin: 0;
}
@media screen and (min-width: 48rem) {
  .hero__shows-text {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .hero__shows-text {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero__shows-text {
    padding: 0;
    width: 63.75rem;
    margin: auto;
  }
}
@media screen and (min-width: 48rem) {
  .hero__shows-text {
    max-width: 38rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero__shows-text {
    margin: 0;
    max-width: 30rem;
  }
}
.hero__shows-subtext {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #323232;
  padding: 0 1rem;
  font-weight: 400;
  color: #ffffff;
  margin: 1rem 0;
}
@media screen and (min-width: 48rem) {
  .hero__shows-subtext {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .hero__shows-subtext {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero__shows-subtext {
    padding: 0;
    width: 63.75rem;
    margin: auto;
  }
}
@media screen and (min-width: 48rem) {
  .hero__shows-subtext {
    margin: 2.25rem 0;
  }
}
@media screen and (min-width: 80rem) {
  .hero__shows-subtext {
    margin: 0 0 1rem 0;
    padding: 0;
    display: inline-flex;
    width: auto;
  }
}
.hero__iframe {
  padding: 0 1rem;
  height: 30%;
  max-height: 10.375rem;
  border: 0;
}
@media screen and (min-width: 48rem) {
  .hero__iframe {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero__iframe {
    padding: 0;
    width: 63.75rem;
    margin: auto;
  }
}
@media screen and (min-width: 48rem) {
  .hero__iframe {
    align-self: auto;
    width: 65%;
  }
}
@media screen and (min-width: 80rem) {
  .hero__iframe {
    margin: 0;
    width: 45%;
  }
}

.biography {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .biography {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .biography {
    padding: 0;
    width: 63.75rem;
    margin: auto;
  }
}
.biography__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #323232;
  margin: 2.25rem 0 1rem 0;
}
@media screen and (min-width: 48rem) {
  .biography__header {
    margin: 3rem 0 2.25rem 0;
  }
}
@media screen and (min-width: 48rem) {
  .biography__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .biography__container {
    padding: 0 4.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .biography__container {
    padding: 0 5.4375rem;
  }
}
.biography__main {
  display: flex;
  flex-direction: column;
}
.biography__image {
  margin-bottom: 1rem;
  background-size: cover;
}
@media screen and (min-width: 48rem) {
  .biography__image {
    margin-bottom: 2.25rem;
  }
}
.biography__image-caption {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #323232;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .biography__image-caption {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .biography__image-caption {
    margin-bottom: 1rem;
    font-weight: 700;
  }
}
.biography__image-artist {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #323232;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .biography__image-artist {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .biography__image-artist {
    margin-bottom: 2.25rem;
    font-size: 1.125rem;
  }
}
.biography__subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #323232;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .biography__subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .biography__card {
    display: flex;
    justify-content: space-between;
    margin: 0 -1.125rem;
  }
}
.biography__content {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .biography__content {
    margin: 0 1.125rem 2.25rem 1.125rem;
  }
}
@media screen and (min-width: 48rem) {
  .biography__content {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

.photo-gallery {
  background-color: #fafafa;
}
.photo-gallery__container {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .photo-gallery__container {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .photo-gallery__container {
    padding: 0;
    width: 63.75rem;
    margin: auto;
  }
}
.photo-gallery__header {
  margin: 1.5rem 0 1rem 0rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .photo-gallery__header {
    margin: 3rem 0 2.25rem 0;
  }
}
@media screen and (min-width: 48rem) {
  .photo-gallery__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
.photo-gallery__display {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  row-gap: 20%;
}
@media screen and (min-width: 48rem) {
  .photo-gallery__display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 2.25rem;
  }
}
.photo-gallery__box {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .photo-gallery__box {
    width: 31%;
    flex-grow: 1;
    margin: 0;
    background-color: red;
  }
}
.photo-gallery__image {
  -o-object-fit: fit;
     object-fit: fit;
  max-width: 100%;
}
@media screen and (min-width: 48rem) {
  .photo-gallery__image {
    max-width: 100%;
    max-height: 100%;
  }
}

.comments {
  padding: 0 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .comments {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .comments {
    padding: 0;
    width: 63.75rem;
    margin: auto;
  }
}
@media screen and (min-width: 48rem) {
  .comments {
    margin-bottom: 2.25rem;
  }
}
.comments__header {
  margin: 1.5rem 0 1rem 0rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .comments__header {
    margin: 3rem 0 2.25rem 0;
  }
}
@media screen and (min-width: 48rem) {
  .comments__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
.comments__form {
  display: flex;
  border-bottom: 0.0625rem solid #e1e1e1;
}
@media screen and (min-width: 48rem) {
  .comments__form {
    margin-left: 4.5rem;
    margin-right: 4.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .comments__form {
    margin-left: 16.3125rem;
    margin-right: 16.3125rem;
  }
}
.comments__input-container {
  flex-grow: 1;
}
.comments__avatar {
  background-color: #e1e1e1;
  border-radius: 50%/50%;
  width: 2.25rem;
  height: 2.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 1.5rem 1rem 1rem 0;
}
@media screen and (min-width: 48rem) {
  .comments__avatar {
    width: 3rem;
    height: 3rem;
  }
}
.comments__name-label {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  font-weight: 400;
  color: #afafaf;
  margin-bottom: 0.25rem;
}
@media screen and (min-width: 48rem) {
  .comments__name-label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}
.comments__name-input {
  font-family: "Avenir";
  background-color: #fafafa;
  color: #323232;
  min-height: 2.25rem;
  border-radius: 0.25rem;
  padding: 0.75rem;
  box-sizing: border-box;
  width: 100%;
  border: 0.0625rem solid #e1e1e1;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .comments__name-input {
    min-height: 3rem;
    padding: 1rem;
  }
}
.comments__name-input::-moz-placeholder {
  color: #323232;
  opacity: 1;
}
.comments__name-input:-ms-input-placeholder {
  color: #323232;
  opacity: 1;
}
.comments__name-input::placeholder {
  color: #323232;
  opacity: 1;
}
.comments__name-input:active {
  border: 0.0625rem solid #323232;
}
.comments__name-input:invalid {
  border: 0.0625rem solid #d22d2d;
}
.comments__comment-label {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  font-weight: 400;
  color: #afafaf;
  margin-bottom: 0.25rem;
}
@media screen and (min-width: 48rem) {
  .comments__comment-label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}
.comments__comment-input {
  font-family: "Avenir";
  background-color: #fafafa;
  min-height: 2.25rem;
  border-radius: 0.25rem;
  padding: 0.75rem;
  box-sizing: border-box;
  width: 100%;
  border: 0.0625rem solid #e1e1e1;
  margin-bottom: 1rem;
  resize: none;
}
@media screen and (min-width: 48rem) {
  .comments__comment-input {
    min-height: 3rem;
    padding: 1rem;
  }
}
.comments__comment-input::-moz-placeholder {
  color: #323232;
  opacity: 1;
}
.comments__comment-input:-ms-input-placeholder {
  color: #323232;
  opacity: 1;
}
.comments__comment-input::placeholder {
  color: #323232;
  opacity: 1;
}
.comments__comment-input:active {
  border: 0.0625rem solid #323232;
}
.comments__comment-input:invalid {
  border: 0.0625rem solid #d22d2d;
}
.comments__submit-button {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  font-size: 1rem;
  font-weight: 600;
  line-height: 0;
  background-color: #323232;
  color: #ffffff;
  height: 2.5rem;
  min-width: 9.375rem;
  padding: 0 2rem;
  display: block;
  border: 0;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .comments__submit-button {
    width: 12.5rem;
    float: right;
  }
}
@media screen and (min-width: 48rem) {
  .comments__submit-button {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}
.comments__submit-button:hover {
  background-color: #000000;
}
.comments__history {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 48rem) {
  .comments__history {
    margin-left: 4.5rem;
    margin-right: 4.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .comments__history {
    margin-left: 16.3125rem;
    margin-right: 16.3125rem;
  }
}
.comments__history-avatar {
  background-color: #e1e1e1;
  border-radius: 50%/50%;
  max-width: 2.25rem;
  width: 100%;
  min-height: 2.25rem;
  height: 100%;
  margin: 1.5rem 1rem 1rem 0;
}
@media screen and (min-width: 48rem) {
  .comments__history-avatar {
    max-width: 3rem;
    min-height: 3rem;
  }
}
.comments__history-list-item {
  list-style: none;
  display: flex;
  border-bottom: 0.0625rem solid #e1e1e1;
}
.comments__history-right-container {
  margin: 1rem 0;
  width: 100%;
}
.comments__history-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.comments__history-name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #323232;
  margin: 0;
}
@media screen and (min-width: 48rem) {
  .comments__history-name {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .comments__history-name {
    font-weight: 600;
    font-size: 0.875rem;
  }
}
.comments__history-timestamp {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #323232;
  color: #afafaf;
  font-weight: 400;
  margin: 0;
}
@media screen and (min-width: 48rem) {
  .comments__history-timestamp {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .comments__history-timestamp {
    font-weight: 400;
    font-size: 0.875rem;
  }
}
.comments__history-comment {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .comments__history-comment {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}/*# sourceMappingURL=bio.css.map */