@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Avenir";
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

.header {
  background-color: #323232;
}
.header-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header-nav {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .header-nav {
    flex-direction: row;
    margin: auto;
    width: 1060px;
  }
}
.header-nav__home {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
  display: flex;
}
.header-nav__home-item {
  padding-top: 16px;
  margin-bottom: 16px;
  max-width: 120px;
  max-height: 20px;
}
@media (min-width: 768px) {
  .header-nav__home-item {
    align-self: center;
    padding: 36px 0;
    margin: 0 36px;
  }
}
@media (min-width: 1280px) {
  .header-nav__home-item {
    margin-left: 0px;
  }
}
.header-nav__list {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .header-nav__list {
    width: auto;
  }
}
.header-nav__link {
  text-decoration: none;
  color: #e1e1e1;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  width: 50%;
}
.header-nav__item, .header-nav__item--active {
  text-align: center;
  padding-bottom: 12px;
  border-bottom: 4px solid transparent;
}
@media (min-width: 768px) {
  .header-nav__item, .header-nav__item--active {
    align-self: center;
    padding: 36px 0 32px 0;
    margin: 0 36px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (min-width: 1279px) {
  .header-nav__item, .header-nav__item--active {
    min-width: 68px;
  }
}
.header-nav__item--active {
  border-bottom: 4px;
  border-bottom-color: white;
  border-bottom-style: solid;
  color: #ffffff;
  font-weight: 700;
}
.header-nav__item:hover, .header-nav__item--active:hover {
  border-bottom: 4px;
  border-bottom-color: white;
  border-bottom-style: solid;
  padding-bottom: 12px;
  color: #ffffff;
  font-weight: 700;
}
@media (min-width: 768px) {
  .header-nav__item:hover, .header-nav__item--active:hover {
    padding-bottom: 32px;
  }
}

.hero {
  position: relative;
}
.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .hero__image {
    height: 65vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.hero__image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 0.5;
}
.hero__text {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin: 0 0 0 16px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
@media (min-width: 768px) {
  .hero__text {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero__text {
    margin-left: 36px;
  }
}
@media (min-width: 1280px) {
  .hero__text {
    margin-left: 0;
    width: 1060px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.biography {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .biography {
    padding: 0 36px;
  }
}
@media (min-width: 1280px) {
  .biography {
    width: 1060px;
    padding: 0;
    margin: auto;
  }
}
.biography__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-weight: 400;
  margin: 24px 0 16px 0;
}
@media (min-width: 768px) {
  .biography__header {
    margin: 48px 0 36px 0;
  }
}
@media (min-width: 768px) {
  .biography__header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .biography__container {
    padding: 0 72px;
  }
}
@media (min-width: 1280px) {
  .biography__container {
    padding: 0 87px;
  }
}
.biography__main {
  display: flex;
  flex-direction: column;
}
.biography__image {
  margin-bottom: 16px;
  background-size: cover;
}
@media (min-width: 768px) {
  .biography__image {
    margin-bottom: 36px;
  }
}
.biography__image-caption {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .biography__image-caption {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media (min-width: 768px) {
  .biography__image-caption {
    margin-bottom: 16px;
  }
}
.biography__image-artist {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .biography__image-artist {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media (min-width: 768px) {
  .biography__image-artist {
    margin-bottom: 36px;
    font-size: 18px;
  }
}
.biography__subheader {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .biography__subheader {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media (min-width: 768px) {
  .biography__card {
    display: flex;
    justify-content: space-between;
    margin: 0 -18px;
  }
}
.biography__content {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .biography__content {
    margin: 0 18px 36px 18px;
  }
}
@media (min-width: 768px) {
  .biography__content {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}

.photo-gallery {
  background-color: #fafafa;
}
.photo-gallery__container {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .photo-gallery__container {
    padding: 0 36px;
  }
}
@media (min-width: 1280px) {
  .photo-gallery__container {
    width: 1060px;
    padding: 0;
    margin: auto;
  }
}
.photo-gallery__header {
  margin: 24px 0 16px 0px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .photo-gallery__header {
    margin: 48px 0 36px 0;
  }
}
@media (min-width: 768px) {
  .photo-gallery__header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
.photo-gallery__display {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  row-gap: 20%;
}
@media (min-width: 768px) {
  .photo-gallery__display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 36px;
  }
}
.photo-gallery__box {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .photo-gallery__box {
    width: 31%;
    flex-grow: 1;
    margin: 0;
    background-color: red;
  }
}
.photo-gallery__image {
  -o-object-fit: fit;
     object-fit: fit;
  max-width: 100%;
}
@media (min-width: 768px) {
  .photo-gallery__image {
    max-width: 100%;
    max-height: 100%;
  }
}

.footer {
  background-color: #323232;
}
.footer__container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__container {
    padding: 0 36px;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    width: 1060px;
    padding: 0;
    margin: auto;
  }
}
.footer__header {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__header {
    flex-direction: row;
    align-items: flex-end;
  }
}
.footer__header-text {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin: 24px 0 16px 0;
}
@media (min-width: 768px) {
  .footer__header-text {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media (min-width: 768px) {
  .footer__header-text {
    margin: 48px 0 0px 0;
  }
}
.footer__icon {
  display: flex;
  margin: 0 36px;
}
.footer__link {
  margin: 0 16px 16px 0px;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .footer__link {
    margin-right: 36px;
    line-height: 32px;
  }
}
.footer__link-icon {
  /* REMEMBER TO REMOVE IF NOT USING */
}
.footer__card-header {
  margin: 24px 16px 16px 16px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-weight: 600;
}
@media (min-width: 768px) {
  .footer__card-header {
    margin: 48px 36px 36px 36px;
  }
}
@media (min-width: 768px) {
  .footer__card-header {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
.footer__card-body {
  margin: 0px 16px 16px 16px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__card-body {
    margin: 0px 36px 36px 36px;
  }
}
@media (min-width: 768px) {
  .footer__card-body {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
.footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo {
    display: none;
  }
}
.footer__logo-mobile {
  margin: 24px 16px 16px 16px;
  max-width: 120px;
  max-height: 20px;
}
@media (min-width: 768px) {
  .footer__logo-mobile {
    display: none;
  }
}
.footer__copyright {
  margin: 0px 16px 16px 16px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-size: 11px;
}
@media (min-width: 768px) {
  .footer__copyright {
    margin: 0px 36px 36px 36px;
  }
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}/*# sourceMappingURL=bio.css.map */