@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/typekit" as *;
@use "./partials/mediaqueries" as *;

.header {
    background-color: $bandsite-black;

    &-nav {
        @include tablet {
            flex-direction: row;
        }
        @include desktop {
            flex-direction: row;
            margin: auto;
            width: 66.25rem;
        }
        display: flex;
        flex-direction: column;
        align-items: center;

        &__home {
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2rem;
            color: $white;
            display: flex;

            &-item {
                @include tablet {
                    align-self: center;
                    padding: 2.25rem 0;
                    margin: 0 2.25rem;
                }
                @include desktop {
                    margin-left: 0;
                }
                padding-top: 1rem;
                margin-bottom: 1rem;
                max-width: 7.5rem;
                max-height: 1.25rem;
            }
        }

        &__list {
            @include tablet {
                width: auto;
            }
            list-style: none;
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin: 0;
            padding: 0;
        }

        &__link {
            text-decoration: none;
            color: $mercury;
            font-size: 0.875rem;
            line-height: 1.375rem;
            width: 50%;
            font-weight: 600;
        }

        &__item {
            @include tablet {
                align-self: center;
                padding: 2.25rem 0 2rem 0;
                margin: 0 2.25rem;
                width: fit-content;
            }
            @include desktop {
                min-width: 4.25rem;
            }
            text-align: center;
            padding-bottom: 0.75rem;
            border-bottom: 0.25rem solid transparent;

            &--active {
                @extend .header-nav__item;
                border-bottom: 0.25rem;
                border-bottom-color: $white;
                border-bottom-style: solid;
                color: $white;
                font-weight: 600;
            }

            &:hover {
                @include tablet {
                    padding-bottom: 2rem;
                }
                border-bottom: 0.25rem;
                border-bottom-color: $white;
                border-bottom-style: solid;
                padding-bottom: 0.75rem;
                color: $white;
                font-weight: 600;
            }
        }
    }
}

.hero {
    position: relative;

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__image {
        @include desktop {
            height: 65vh;
            object-fit: cover;
        }

        &-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $bandsite-black;
            opacity: 0.5;
        }
    }

    &__text {
        @include pageheader;
        @include page-sidemargins;
        color: $white;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        @include desktop {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.biography {
    @include page-sidemargins;
    display: flex;
    flex-direction: column;

    &__header {
        @include tablet {
            margin: 3rem 0 2.25rem 0;
        }
        @include sectionheader;
        margin: 2.25rem 0 1rem 0;
    }

    &__container {
        @include tablet {
            padding: 0 4.5rem;
        }
        @include desktop {
            padding: 0 5.4375rem;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
    }

    &__image {
        @include tablet {
            margin-bottom: 2.25rem;
        }
        margin-bottom: 1rem;
        background-size: cover;

        &-caption {
            @include subheader;
            font-weight: 700;
            @include tablet {
                margin-bottom: 1rem;
                font-weight: 700;
            }
            margin-bottom: 1rem;
        }

        &-artist {
            @include subheader;
            font-weight: 700;
            @include tablet {
                margin-bottom: 2.25rem;
                font-size: 1.125rem;
            }
            margin-bottom: 1rem;
        }
    }

    &__subheader {
        @include subheader;
        margin-bottom: 1rem;
    }

    &__card {
        @include tablet {
            display: flex;
            justify-content: space-between;
            margin: 0 -1.125rem;
        }
    }

    &__content {
        @include tablet {
            margin: 0 1.125rem 2.25rem 1.125rem;
        }
        @include bodycopy;
        margin-bottom: 1rem;
    }
}

.photo-gallery {
    background-color: $alabaster;

    &__container {
        @include page-sidemargins;
        display: flex;
        flex-direction: column;
    }

    &__header {
        @include tablet {
            margin: 3rem 0 2.25rem 0;
        }
        margin: 1.5rem 0 1rem 0rem;
        @include sectionheader;
    }

    &__display {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-direction: row;
            gap: 1.5rem;
            margin-bottom: 2.25rem;
        }
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        row-gap: 20%;
    }

    &__box {
        @include tablet {
            width: 31%;
            flex-grow: 1;
            margin: 0;
            background-color: red;
        }
        width: auto;
        height: 100%;
        object-fit: cover;
        display: flex;
        margin-bottom: 1rem;
    }

    &__image {
        @include tablet {
            max-width: 100%;
            max-height: 100%;
        }
        object-fit: fit;
        max-width: 100%;
    }
}

.footer {
    background-color: $bandsite-black;

    &__container {
        @include page-sidemargins;
        color: $white;
        display: flex;
        flex-direction: column;
    }

    &__header {
        @include tablet {
            flex-direction: row;
            align-items: flex-end;
            gap: 2.25rem;
        }
        @include desktop {
            flex-direction: row;
            align-items: flex-end;
        }
        display: flex;
        flex-direction: column;

        &-text {
            @include tablet {
                margin: 3rem 0 0 0;
                flex-grow: 1;
                flex-basis: 0;
                font-weight: 600;
            }
            @include desktop {
                margin: 3rem 2.25rem 0 0;
                min-width: 14.8125rem;
            }
            @include sectionheader;
            color: $white;
            margin: 1.5rem 0 1rem 0;
        }
    }

    &__icon {
        @include tablet {
            flex-grow: 1;
            flex-basis: 0;
        }
        display: flex;
    }

    &__link {
        @include tablet {
            margin-right: 2.25rem;
            line-height: 2rem;
        }
        margin: 0 1rem 1rem 0;
        margin-bottom: 0rem;
    }

    &__card {
        @include tablet {
            flex-direction: row;
            gap: 2.25rem;
        }
        @include desktop {
            flex-direction: row;
        }
        display: flex;
        flex-direction: column;

        &-container {
            @include tablet {
                flex-grow: 1;
                flex-basis: 0;
            }
            @include desktop {
                min-width: 14.8125rem;
                margin-right: 2.25rem;
            }
        }

        &-header {
            @include footercopy;
            @include tablet {
                margin: 3rem 0 2.25rem 0;
                font-weight: 600;
            }
            font-weight: 600;
            margin: 1.5rem 0 1rem 0;
        }

        &-body {
            @include tablet {
                margin-bottom: 2.25rem;
            }
            @include footercopy;
            margin-bottom: 1rem;
        }
    }

    &__logo {
        @include tablet {
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;
            flex-basis: 0;
            line-height: 2rem;
            margin-bottom: 0.75rem;
        }
        display: none;

        &-mobile {
            @include tablet {
                display: none;
            }
            margin: 1.5rem 0 1rem 0;
            max-width: 7.5rem;
            max-height: 1.25rem;
        }
    }

    &__copyright {
        @include tablet {
            margin: 0.75rem 0 2.25rem 0;
        }
        @include footercopy;
        font-size: 0.6875rem;
        margin-bottom: 1rem;
    }
}
