@use "./partials/global";
@use "./partials/colors";
@use "./partials/typekit";

.header {
    background-color: colors.$bandsite-black;

    &-nav {
        @media (min-width: 768px) and (max-width: 1279px) {
            flex-direction: row;
        }
        @media (min-width: 1280px) {
            flex-direction: row;
            margin: auto;
            width: 63.75rem;
        }
        display: flex;
        flex-direction: column;
        align-items: center;

        &__home {
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2rem;
            color: colors.$white;
            display: flex;

            &-item {
                @media (min-width: 48rem) {
                    align-self: center;
                    padding: 2.25rem 0;
                    margin: 0 2.25rem;
                }
                @media (min-width: 80rem) {
                    margin-left: 0;
                }
                padding-top: 1rem;
                margin-bottom: 1rem;
                max-width: 7.5rem;
                max-height: 1.25rem;
            }
        }
        &__list {
            @media (min-width: 48rem) {
                width: auto;
            }
            list-style: none;
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin: 0;
            padding: 0;
        }
        &__link {
            text-decoration: none;
            color: colors.$mercury;
            font-size: 0.875rem;
            line-height: 1.375rem;
            width: 50%;
            font-weight: 600;
        }
        &__item {
            @media (min-width: 768px) {
                align-self: center;
                padding: 2.25rem 0 2rem 0;
                margin: 0 2.25rem;
                width: fit-content;
            }
            @media (min-width: 1280px) {
                min-width: 4.25rem;
            }
            text-align: center;
            padding-bottom: 0.75rem;
            border-bottom: 0.25rem solid transparent;

            &--active {
                @extend .header-nav__item;
                border-bottom: 0.25rem;
                border-bottom-color: white;
                border-bottom-style: solid;
                color: colors.$white;
                font-weight: 600;
            }
            &:hover {
                @media (min-width: 768px) {
                    padding-bottom: 2rem;
                }
                border-bottom: 0.25rem;
                border-bottom-color: white;
                border-bottom-style: solid;
                padding-bottom: 0.75rem;
                color: colors.$white;
                font-weight: 600;
            }
        }
    }
}

.hero {
    position: relative;

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    &__image {
        @media (min-width: 1280px) {
            height: 65vh;
            object-fit: cover;
        }
        &-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: colors.$bandsite-black;
            opacity: 0.5;
        }
    }

    &__text {
        @include typekit.pageheader;
        @include global.page-sidemargins;
        color: colors.$white;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        @media (min-width: 1280px) {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.biography {
    @include global.page-sidemargins;
    display: flex;
    flex-direction: column;
    &__header {
        @media (min-width: 768px) {
            margin: 3rem 0 2.25rem 0;
        }
        @include typekit.sectionheader;
        margin: 2.25rem 0 1rem 0;
    }
    &__container {
        @media (min-width: 768px) and (max-width: 1279px) {
            padding: 0 4.5rem;
        }
        @media (min-width: 1280px) {
            padding: 0 5.4375rem;
        }
    }
    &__main {
        display: flex;
        flex-direction: column;
    }
    &__image {
        @media (min-width: 768px) {
            margin-bottom: 2.25rem;
        }
        margin-bottom: 1rem;
        background-size: cover;
        &-caption {
            @include typekit.subheader;
            font-weight: 700;
            @media (min-width: 768px) {
                margin-bottom: 1rem;
                font-weight: 700;
            }
            margin-bottom: 1rem;
        }
        &-artist {
            @include typekit.subheader;
            font-weight: 700;
            @media (min-width: 768px) {
                margin-bottom: 2.25rem;
                font-size: 1.125rem;
            }
            margin-bottom: 1rem;
        }
    }
    &__subheader {
        @include typekit.subheader;
        margin-bottom: 1rem;
    }
    &__card {
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            margin: 0 -1.125rem;
        }
    }
    &__content {
        @media (min-width: 768px) {
            margin: 0 1.125rem 2.25rem 1.125rem;
        }
        @include typekit.bodycopy;
        margin-bottom: 1rem;
    }
}

.photo-gallery {
    background-color: colors.$alabaster;
    &__container {
        @include global.page-sidemargins;
        display: flex;
        flex-direction: column;
    }
    &__header {
        @media (min-width: 768px) {
            margin: 3rem 0 2.25rem 0;
        }
        margin: 1.5rem 0 1rem 0rem;
        @include typekit.sectionheader;
    }
    &__display {
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-direction: row;
            gap: 1.5rem;
            margin-bottom: 2.25rem;
        }
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        row-gap: 20%;
    }
    &__box {
        @media (min-width: 768px) {
            width: 31%;
            flex-grow: 1;
            margin: 0;
            background-color: red;
        }
        width: auto;
        height: 100%;
        object-fit: cover;
        display: flex;
        margin-bottom: 1rem;
    }
    &__image {
        @media (min-width: 768px) {
            max-width: 100%;
            max-height: 100%;
        }
        object-fit: fit;
        max-width: 100%;
    }
}

.footer {
    background-color: colors.$bandsite-black;
    &__container {
        @include global.page-sidemargins;
        color: colors.$white;
        display: flex;
        flex-direction: column;
    }
    &__header {
        @media (min-width: 768px) and (max-width: 1279px) {
            flex-direction: row;
            align-items: flex-end;
            gap: 2.25rem;
        }
        @media (min-width: 1280px) {
            flex-direction: row;
            align-items: flex-end;
        }

        display: flex;
        flex-direction: column;
        &-text {
            @media (min-width: 768px) and (max-width: 1279px) {
                margin: 3rem 0 0 0;
                flex-grow: 1;
                flex-basis: 0;
                font-weight: 600;
            }
            @media (min-width: 1280px) {
                margin: 3rem 2.25rem 0 0;
                min-width: 14.8125rem;
            }
            @include typekit.sectionheader;
            color: colors.$white;
            margin: 1.5rem 0 1rem 0;
        }
    }
    &__icon {
        @media (min-width: 768px) {
            flex-grow: 1;
            flex-basis: 0;
        }
        display: flex;
    }
    &__link {
        @media (min-width: 768px) {
            margin-right: 2.25rem;
            line-height: 2rem;
        }
        margin: 0 1rem 1rem 0;
        margin-bottom: 0rem;
    }
    &__card {
        @media (min-width: 768px) and (max-width: 1279px) {
            flex-direction: row;
            gap: 2.25rem;
        }
        @media (min-width: 1280px) {
            flex-direction: row;
        }
        display: flex;
        flex-direction: column;
        &-container {
            @media (min-width: 760px) and (max-width: 1279px) {
                flex-grow: 1;
                flex-basis: 0;
            }
            @media (min-width: 1280px) {
                min-width: 14.8125rem;
                margin-right: 2.25rem;
            }
        }
        &-header {
            @include typekit.footercopy;
            @media (min-width: 768px) {
                margin: 3rem 0 2.25rem 0;
                font-weight: 600;
            }
            font-weight: 600;
            margin: 1.5rem 0 1rem 0;
        }
        &-body {
            @media (min-width: 768px) {
                margin-bottom: 2.25rem;
            }
            @include typekit.footercopy;
            margin-bottom: 1rem;
        }
    }
    &__logo {
        @media (min-width: 768px) {
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;
            flex-basis: 0;
            line-height: 2rem;
            margin-bottom: 0.75rem;
        }
        display: none;
        &-mobile {
            @media (min-width: 768px) {
                display: none;
            }
            margin: 1.5rem 0 1rem 0;
            max-width: 7.5rem;
            max-height: 1.25rem;
        }
    }
    &__copyright {
        @media (min-width: 768px) {
            margin: 0.75rem 0 2.25rem 0;
        }
        @include typekit.footercopy;
        font-size: 0.6875rem;
        margin-bottom: 1rem;
    }
}
