@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/typekit" as *;
@use "./partials/mediaqueries" as *;
@use "./partials/header" as *;
@use "./partials/footer" as *;
@use "./partials/hero" as *;

.biography {
    @include page-sidemargins;
    display: flex;
    flex-direction: column;

    &__header {
        @include tablet {
            margin: 3rem 0 2.25rem 0;
        }
        @include sectionheader;
        margin: 2.25rem 0 1rem 0;
    }

    &__container {
        @include tablet {
            padding: 0 4.5rem;
        }
        @include desktop {
            padding: 0 5.4375rem;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
    }

    &__image {
        @include tablet {
            margin-bottom: 2.25rem;
        }
        margin-bottom: 1rem;
        background-size: cover;

        &-caption {
            @include subheader;
            font-weight: 700;
            @include tablet {
                margin-bottom: 1rem;
                font-weight: 700;
            }
            margin-bottom: 1rem;
        }

        &-artist {
            @include subheader;
            font-weight: 700;
            @include tablet {
                margin-bottom: 2.25rem;
                font-size: 1.125rem;
            }
            margin-bottom: 1rem;
        }
    }

    &__subheader {
        @include subheader;
        margin-bottom: 1rem;
    }

    &__card {
        @include tablet {
            display: flex;
            justify-content: space-between;
            margin: 0 -1.125rem;
        }
    }

    &__content {
        @include tablet {
            margin: 0 1.125rem 2.25rem 1.125rem;
        }
        @include bodycopy;
        margin-bottom: 1rem;
    }
}

.photo-gallery {
    background-color: $alabaster;

    &__container {
        @include page-sidemargins;
        display: flex;
        flex-direction: column;
    }

    &__header {
        @include tablet {
            margin: 3rem 0 2.25rem 0;
        }
        margin: 1.5rem 0 1rem 0rem;
        @include sectionheader;
    }

    &__display {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-direction: row;
            gap: 1.5rem;
            margin-bottom: 2.25rem;
        }
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        row-gap: 20%;
    }

    &__box {
        @include tablet {
            width: 31%;
            flex-grow: 1;
            margin: 0;
            background-color: red;
        }
        width: auto;
        height: 100%;
        object-fit: cover;
        display: flex;
        margin-bottom: 1rem;
    }

    &__image {
        @include tablet {
            max-width: 100%;
            max-height: 100%;
        }
        object-fit: fit;
        max-width: 100%;
    }
}

.comments {
    @include page-sidemargins;
    &__header {
        @include tablet {
            margin: 3rem 0 2.25rem 0;
        }
        margin: 1.5rem 0 1rem 0rem;
        @include sectionheader;
    }

    &__form {
        display: flex;
        border-bottom: 1px solid $mercury;
    }

    &__input-container {
        flex-grow: 1;
    }

    &__avatar {
        @include tablet {
            width: 48px;
            height: 48px;
        }
        background-color: $mercury;
        border-radius: 50%/50%;
        width: 36px;
        height: 36px;
        object-fit: cover;
        margin: 24px 16px 16px 0;
    }

    &__name-label {
        @include labelbutton;
        font-weight: 400;
        color: $silver;
        margin-bottom: 4px;
    }

    &__name-input {
        @include tablet {
            min-height: 48px;
            padding: 16px;
        }
        font-family: "Avenir";
        background-color: $alabaster;
        color: $bandsite-black;
        min-height: 36px;
        border-radius: 4px;
        padding: 12px;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid $mercury;
        margin-bottom: 16px;
        &::placeholder {
            color: $bandsite-black;
            opacity: 1;
        }
        &:active {
            border: 1px solid $bandsite-black;
        }
        &:invalid {
            border: 1px solid #d22d2d;
        }
    }

    &__comment-label {
        @include labelbutton;
        font-weight: 400;
        color: $silver;
        margin-bottom: 4px;
    }

    &__comment-input {
        @include tablet {
            min-height: 48px;
            padding: 16px;
        }
        &::placeholder {
            color: $bandsite-black;
            opacity: 1;
        }
        font-family: "Avenir";
        background-color: $alabaster;
        min-height: 36px;
        border-radius: 4px;
        padding: 12px;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid $mercury;
        margin-bottom: 16px;
        resize: none;
        &:active {
            border: 1px solid $bandsite-black;
        }
        &:invalid {
            border: 1px solid #d22d2d;
        }
    }

    &__submit-button {
        @include tablet {
            width: 200px;
            float: right;
        }
        background-color: $bandsite-black;
        color: $white;
        height: 40px;
        min-width: 150px;
        padding: 0px 32px;
        display: block;
        border: 0px;
        border-radius: 4px;
        margin-bottom: 24px;
        width: 100%;
    }

    &__history {
        padding: 0;
        margin: 0;

        &-list-item {
            list-style: none;
            display: flex;
            border-bottom: 1px solid $mercury;
        }

        &-right-container {
            margin: 16px 0;
            flex-grow: 1;
        }

        &-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
        }

        &-name {
            @include subheader;
            margin: 0px;
        }

        &-timestamp {
            @include subheader;
            color: $silver;
            font-weight: 400;
            margin: 0px;
        }

        &-comment {
            @include bodycopy;
        }
    }
}
