//Font Face & Default Font

@font-face {
    font-family: "Avenir";
    src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Avenir";
    src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Avenir";
    src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: "Avenir";
    font-weight: 400;
    margin: 0;
}
p {
    margin: 0;
}
h3 {
    margin: 0;
}

// Spacing

@mixin page-sidemargins {
    @media (min-width: 768px) and (max-width: 1279px) {
        padding: 0 2.25rem;
    }
    @media (min-width: 1280px) {
        padding: 0;
        width: 63.75rem;
        margin: auto;
    }
    padding: 0 1rem;
}
