@use "mediaqueries" as *;

//Font Face & Default Font

@font-face {
    font-family: "Avenir";
    src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Avenir";
    src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Avenir";
    src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: "Avenir";
    font-weight: 400;
    margin: 0;
}
p {
    margin: 0;
}
h3 {
    margin: 0;
}

button {
    font-family: inherit;
    font-size: 1em;
}
ul {
    margin-block-start: 0;
}
// Spacing

@mixin page-sidemargins {
    @include tablet {
        padding: 0 2.25rem;
    }
    @include desktop {
        padding: 0;
        width: 63.75rem;
        margin: auto;
    }
    padding: 0 1rem;
}
