@use "variables" as *;
@use "global" as *;
@use "mediaqueries" as *;
@use "typekit" as *;

.header {
    background-color: $bandsite-black;

    &-nav {
        @include tablet {
            flex-direction: row;
        }
        @include desktop {
            flex-direction: row;
            margin: auto;
            width: 66.25rem;
        }
        display: flex;
        flex-direction: column;
        align-items: center;

        &__home {
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2rem;
            color: $white;
            display: flex;

            &-item {
                @include tablet {
                    align-self: center;
                    padding: 2.25rem 0;
                    margin: 0 2.25rem;
                }
                @include desktop {
                    margin-left: 0;
                }
                padding-top: 1rem;
                margin-bottom: 1rem;
                max-width: 7.5rem;
                max-height: 1.25rem;
            }
        }

        &__list {
            @include tablet {
                width: auto;
            }
            list-style: none;
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            &-container {
                width: 50%;
            }
        }

        &__link {
            text-decoration: none;
            color: $mercury;
            font-size: 0.875rem;
            line-height: 1.375rem;
            font-weight: 600;
        }

        &__item {
            @include tablet {
                align-self: center;
                padding: 2.25rem 0 2rem 0;
                margin: 0 2.25rem;
                width: fit-content;
            }
            @include desktop {
                min-width: 4.25rem;
            }
            text-align: center;
            padding-bottom: 0.75rem;
            border-bottom: 0.25rem solid transparent;

            &--active {
                @extend .header-nav__item;
                border-bottom: 0.25rem;
                border-bottom-color: $white;
                border-bottom-style: solid;
                color: $white;
                font-weight: 600;
            }

            &:hover {
                @include tablet {
                    padding-bottom: 2rem;
                }
                border-bottom: 0.25rem;
                border-bottom-color: $white;
                border-bottom-style: solid;
                padding-bottom: 0.75rem;
                color: $white;
                font-weight: 600;
            }
        }
    }
}

.test1 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    width: 50%;
    justify-content: center;
}
.test2 {
    text-decoration: none;
    color: $mercury;
    font-size: 0.875rem;
    line-height: 1.375rem;
    text-align: center;
    padding-bottom: 0.75rem;
    border-bottom: 0.25rem solid transparent;
}
