@use "variables" as *;
@use "mediaqueries" as *;

@mixin pageheader {
    @include tablet {
        font-size: 60px;
        line-height: 68px;
        font-weight: 600;
    }
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: $bandsite-black;
}
@mixin sectionheader {
    @include tablet {
        font-size: 36px;
        line-height: 44px;
        font-weight: 600;
    }
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: $bandsite-black;
}
@mixin subheader {
    @include tablet {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
    }
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: $bandsite-black;
}
@mixin bodycopy {
    @include tablet {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
    }
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: $bandsite-black;
}
@mixin footercopy {
    @include tablet {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: $white;
}
@mixin labelbutton {
    @include tablet {
        font-size: 12px;
        line-height: 20px;
        font-weight: 700;
    }
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
}
